
.header {
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    height: auto;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.header__top-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #efefef;
    font-size: 1.7rem;
    font-weight: 500;
}
 
.nav{
    margin-bottom:10px;
}
.header__top-bar-links {
    font-size: 1.2rem;
    margin-right: 15px;
    text-decoration: none;
    color: #333;
}

.header__top-bar-links:hover{
    color: #4CAF50;
}
.hotline {
    font-size: 1.3rem;
}

.logo-search-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 10px 0 0;
}

.img {
    height: 75px;
}

.text {
    margin: 0;
    color: #4CAF50;
    font-size: 14px;
}

.search {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 30px
}

.search-button {
    padding: 5px 15px;
    border: none;
    background-color: #29a02d;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 20px;
}

.user-cart-link{
    margin-left: 15px;
    text-decoration: none;
    color: #333;
    font-size: 1.4rem ;
}
.user-cart-link:hover{
    color: rgba(178, 178, 178, 1);
}

.nav {
    background-color: #2ba32f;
    padding: 10px 0;
    margin: 0;
}

.nav-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav-list-item {
    margin: 0 15px;
}

.nav-list-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.7rem;
}

.nav-list-link:hover {
    color: rgba(255,255,255,0.7 );
}

.banner {
    position: relative;
}
    
.banner-img {
    width: 100%;
    margin-top: 156px;
    height: auto;
}

.banner-icon {
    font-size: 5rem;
    position: absolute;
    z-index: 2;
    top: 50%;
}

.banner-left {
    left: 20px;
}

.banner-right {
    right: 20px;
}


.product {
    background-color: rgba(178, 178, 178, 0.1);
    padding: 30px 120px;
}

.product__heading {
    text-align: center;
    font-size: 2.4rem;
    margin: 0;
}

.product__head-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

.product__head-item {
    padding: 12px 24px;
    margin: 0 8px;
    font-size: 1.6rem;
    font-weight: bold;
    color: #777;
    border-radius: 20px;
    background-color: rgba(178, 178, 178, 0.3);
}

.product__head-item:hover {
    cursor: pointer;
    background-color: var(--main-color);
    color: #fff;
}

.product__head-item.product-choice {
    cursor: pointer;
    background-color: var(--main-color);
    color: #fff;
}

.product__body {
    background-color: #fff;
    box-shadow: 0 5px 5px #ccc;
    padding: 24px 12px;
    margin-top: 30px;
}

.product__body-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

.product__body-item {
    width: 20%;
    height: 400px; 
    border-right: 0.5px solid #ccc;  
    border-bottom: 0.5px solid #ccc;
}

.product__body-item:last-child {
    border-right: none;   
}

.product__img {
    width: 100%;
}

.product__container {
    padding-bottom: 12px;
}

.product__name {
    font-size: 1.4rem;
}

.product__name:hover {
    color: var(--main-color);
    cursor: pointer;
}

.product__desc {
    font-size: 1.3rem;
    color: #777;
    margin-top: 8px;
}

.product__price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 12px;
}

.product__price-current {
    font-size: 1.3rem;
    text-decoration: line-through;
    margin: 0 6px;
}

.product__price-sale {
    font-size: 1.55rem;
    color: var(--main-color);
    font-weight: bolder;
}


.product__add {
    border: none;
    outline: none;
    width: 90%;
    font-size: 1.4rem;
    color: #fff;
    background-color: var(--main-color);
    padding: 10px 0;
    margin: 24px 12px 0;
    border-radius: 5px;
}

.product__add:hover {
    opacity: 0.8;
    cursor: pointer;
}

.footer {
    background-color: #ded7d7;
    color: #333;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
    margin-top: 20px;
    flex: 1;
}

.footer-logo {
    text-align: left;
}

.footer-logo-img {
    height: 100px;
}

.footer-text{
    border: 0;
    padding: 0;
    margin: 10px;
    margin-left: 0;
    font-size: 1.2rem;
}
.footer-links {
    display: flex;
}

.footer-column {
    margin-left: 20px;
}

.footer-column-h3 {
    font-size: 1.8rem;
    color: #333;
    text-align: left;
}

.footer-column-text {
    display: block;
    margin: 5px 0;
    text-decoration: none;
    color: #333;
    text-align: left;
    font-size: 1.3rem;
    padding: 14px 0;
}

.footer-column-text:hover{
    text-decoration: underline;
    color: #4CAF50;
}